* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    min-height: 100vh;
    background-color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 0 10px;
    background-color: white;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    align-items: flex-start;
    text-align: left;
    width: 10%;
}

.highlight {
    color: black;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.btn {
    background-color: #00C4F0;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 60%;
    gap: 0px;
}

.subheading {
    font-size: 16px;
    font-weight: bold;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: black;
}

.large-text {
    font-size: 100px;
    font-weight: bold;
}

/* Footer */
.footer {
    background-color: #e5ecf4;
    padding: 150px 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 80%;
    
}

.footer-section h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.footer .logo {
    font-size: 30px;
    font-weight: bold;
    width: 100%; /* Ensure it takes full width */
    text-align: left; /* Align text to the left */
}
.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.contact p {
    font-size: 14px;
    font-weight: bold;
}
